doctype
html(lang="en")
    head
        include parts/metas
        include parts/styles
        link(rel="stylesheet" href="/css/login.css")
        title Error
    body
        include components/navbar
        section.py-5
            .container
                p.alert.alert-danger Something went wrong !!
        include components/footer
        include parts/scripts
        script(src='/js/auth.js')